
@{
    ViewData["Title"] = "About";
}

    
<h2>About</h2>

<p>
    Being a part of University of South Florida-Tampa Campus, it may interest many higher officials to see the enrollment trends of different ethnic groups.
    In this application we are showing the percentile of enrollments of each ethnic group for every term since School Year 2012.
</p>
<p>
    This website is made by Group 11 of the DIS class ISM6225.001S20 as part of Assignment 4.
    We have taken our data from Data.gov, which is a federal government website where data and other resources related to different topics can be found. Below is the logical data model of our data.
    The project is available in the Github Repository. Our details are as follows:
</p>
<table border="1">
    <tr>
        <th>Team Member</th>
        <th>Introduction</th>
    </tr>
    <tr>
        <td>
            <img id="siriimg" alt="Sirisha" src="@Url.Content("~/img/Sirisha.jpg")" style="width:90%;height:30%;" />
            <br />Sirisha Kasibhotla <br />skasibhotla@usf.edu
        </td>
        <td>
            Sirisha is currently pursuing MS Business Analytics and Information Systems in University of South Florida.
            She is a part time student and is planning to graduate Fall 2020.
            She is currently working as a full time employee at USF IT as a SR. ERP Analyst. Sirisha is the main developer of this project.
            With her industry experience as Front-end developer, she contributed a lot in the project and provided useful insights on how to go on programming of HTML and CSS.
        </td>
    </tr>
    <tr>
        <td><img id="siriimg" alt="Sirisha" src="@Url.Content("~/img/Vikanksha.jpg")" style="width:90%;height:30%;" />
        <br/>Vikanksha Goley<br />vikanksha@mail.usf.edu</td>
        <td>
            Vikanksha is currently pursuing MS Business Analytics and Information Systems in University of South Florida.
            Prior to joining USF for masters, she has worked as Software developer in FIS and Cognizant. Vikanksha worked on researching for the data and did data-modelling.
            She also did the styling of the About Us page of the project. She made sure that the team adheres to all the conditions mentioned in the assignment.
        </td>
    </tr>
</table>
